
<div data-block-id="{{block.uid}}" id="{{block.id}}" class="{{block.class}}">

  <div class="row">
    <div class="col content-1">
      <h3 class="content-title">{{title}}</h3>
      <div class="content-desc">{{infos|raw}}</div>
    </div>
    <div class="col content-2">
      <div class="content-desc">{{legal|raw}}</div>
    </div>
  </div>

</div>

  